registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
legacy-peer-deps=true
prefer-offline=true
node-linker=hoisted
engine-strict=false
save-exact=false
package-lock=false
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=10000
fetch-retries=5
network-timeout=60000 