legacy-peer-deps=true
node-linker=hoisted
engine-strict=false
save-exact=false
registry=https://registry.npmjs.org/
package-lock=false
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=10000
fetch-retries=5
network-timeout=60000 